@charset "utf-8";

/* 1.LG[LG], 2.삼성[SS], 3.한화[HH], 4.두산[OB], 5.키움[WO],
6.SK[SK], 7.NC[NC], 8.KT[KT], 9.기아[HT], 10.롯데[LT] */
.theme_LG .bg_theme {background-color:#C10A3A;}
.theme_SS .bg_theme {background-color:#0063AB;}
.theme_HH .bg_theme {background-color:#DA5A17;}
.theme_OB .bg_theme {background-color:#131230;}
.theme_WO .bg_theme {background-color:#5B0016;}
.theme_SK .bg_theme {background-color:#C8132F;}
.theme_NC .bg_theme {background-color:#1F477B;}
.theme_KT .bg_theme {background-color:#000000;}
.theme_HT .bg_theme {background-color:#AC1020;}
.theme_LT .bg_theme {background-color:#C30025;}

[class*="theme_"] .logo_theme {background-image:url(../images/logo_theme.png);}
.theme_LG .logo_theme {background-position:0 0;}
.theme_SS .logo_theme {background-position:0 0;}
.theme_HH .logo_theme {background-position:0 0;}
.theme_OB .logo_theme {background-position:0 0;}
.theme_WO .logo_theme {background-position:0 0;}
.theme_SK .logo_theme {background-position:0 0;}
.theme_NC .logo_theme {background-position:0 0;}
.theme_KT .logo_theme {background-position:0 0;}
.theme_HT .logo_theme {background-position:0 0;}
.theme_LT .logo_theme {background-position:0 0;}




/*******************************************************************************************/
