@charset "utf-8";

/* 1.LG[LG], 2.삼성[SS], 3.한화[HH], 4.두산[OB], 5.키움[WO],
6.SK[SK], 7.NC[NC], 8.KT[KT], 9.기아[HT], 10.롯데[LT] */
/* theme bg(응원팀) */
[data-theme="theme_LG"] .bg_theme {background-color:#C10A3A;}
[data-theme="theme_SS"] .bg_theme {background-color:#0063AB;}
[data-theme="theme_HH"] .bg_theme {background-color:#DA5A17;}
[data-theme="theme_OB"] .bg_theme {background-color:#131230;}
[data-theme="theme_WO"] .bg_theme {background-color:#5B0016;}
[data-theme="theme_SK"] .bg_theme {background-color:#C8132F;}
[data-theme="theme_NC"] .bg_theme {background-color:#1F477B;}
[data-theme="theme_KT"] .bg_theme {background-color:#000000;}
[data-theme="theme_HT"] .bg_theme {background-color:#AC1020;}
[data-theme="theme_LT"] .bg_theme {background-color:#C30025;}

/* theme bnb(응원팀) */
[data-theme="theme_LG"] .tab_container .active_label_container .label {color:#C10A3A;}
[data-theme="theme_HH"] .tab_container .active_label_container .label {color:#DA5A17;}
[data-theme="theme_SS"] .tab_container .active_label_container .label {color:#0063AB;}
[data-theme="theme_KT"] .tab_container .active_label_container .label {color:#000;}
[data-theme="theme_SK"] .tab_container .active_label_container .label {color:#C8132F;}
[data-theme="theme_WO"] .tab_container .active_label_container .label {color:#5B0016;}
[data-theme="theme_NC"] .tab_container .active_label_container .label {color:#1F477B;}
[data-theme="theme_LT"] .tab_container .active_label_container .label {color:#C30025;}
[data-theme="theme_OB"] .tab_container .active_label_container .label {color:#131230;}
[data-theme="theme_HT"] .tab_container .active_label_container .label {color:#AC1020;}

[data-theme="theme_default"] svg > g path[fill-opacity="0"] {stroke:#C10A3A;}
[data-theme="theme_default"] svg > g path[fill-opacity="1"] {fill:#C10A3A;}
[data-theme="theme_OB"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#131230;}
[data-theme="theme_OB"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#131230;}
[data-theme="theme_HH"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#DA5A17;}
[data-theme="theme_HH"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#DA5A17;}
[data-theme="theme_HT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#AC1020;}
[data-theme="theme_HT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#AC1020;}
[data-theme="theme_WO"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#5B0016;}
[data-theme="theme_WO"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#5B0016;}
[data-theme="theme_KT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#000000;}
[data-theme="theme_KT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#000000;}
[data-theme="theme_LG"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#C10A3A;}
[data-theme="theme_LG"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#C10A3A;}
[data-theme="theme_LT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#C30025;}
[data-theme="theme_LT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#C30025;}
[data-theme="theme_NC"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#1F477B;}
[data-theme="theme_NC"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#1F477B;}
[data-theme="theme_SS"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#0063AB;}
[data-theme="theme_SS"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#0063AB;}
[data-theme="theme_SK"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#C8132F;}
[data-theme="theme_SK"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#C8132F;}

[data-theme="theme_default"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-none.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_LG"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-lg.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_OB"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-doosan.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_HH"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-hanwha.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_HT"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-kia.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_WO"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-kiwoom.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_KT"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-kt.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_LT"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-lotte.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_NC"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-nc.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_SS"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-samsung.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_SK"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-sk.png) center 1rem no-repeat;background-size:2.7333rem;}
.tab_button .tab.tab_home {background:url(../images/gnb/ic-gnb-nor-home.png) center 1rem no-repeat;background-size:2.7333rem;}
.tab_button .tab.tab_relay {background:url(../images/gnb/ic-gnb-nor-live.png) center 1rem no-repeat;background-size:2.7333rem;}
.tab_button .tab.tab_game {background:url(../images/gnb/ic-gnb-nor-game.png) center 1rem no-repeat;background-size:2.7333rem;}
.tab_button .tab.tab_my {background:url(../images/gnb/ic-gnb-nor-my.png) center 1rem no-repeat;background-size:2.7333rem;}


/* Team Color bg*/
.team_color_LG {background-color:#C10A3A;}
.team_color_SS {background-color:#0063AB;}
.team_color_HH {background-color:#DA5A17;}
.team_color_OB {background-color:#131230;}
.team_color_WO {background-color:#5B0016;}
.team_color_SK {background-color:#C8132F;}
.team_color_NC {background-color:#1F477B;}
.team_color_KT {background-color:#000000;}
.team_color_HT {background-color:#AC1020;}
.team_color_LT {background-color:#C30025;}

/* theme logo(응원팀) */
[class*="theme_"] .logo_theme {background-image:url(../images/logo_theme.png);}
#wrap.theme_LG .logo_theme {background-position:0 0;}
#wrap.theme_SS .logo_theme {background-position:0 0;}
#wrap.theme_HH .logo_theme {background-position:0 0;}
#wrap.theme_OB .logo_theme {background-position:0 0;}
#wrap.theme_WO .logo_theme {background-position:0 0;}
#wrap.theme_SK .logo_theme {background-position:0 0;}
#wrap.theme_NC .logo_theme {background-position:0 0;}
#wrap.theme_KT .logo_theme {background-position:0 0;}
#wrap.theme_HT .logo_theme {background-position:0 0;}
#wrap.theme_LT .logo_theme {background-position:0 0;}

/* logo KBO */
.team_logo_EA, .team_logo_HH, .team_logo_HT, .team_logo_KT, .team_logo_LG, 
.team_logo_LT, .team_logo_NC, .team_logo_OB, .team_logo_SK, .team_logo_SS, 
.team_logo_WE, .team_logo_WO {max-width:100%;background-size:100%;background-image:url(../images/logo/logo_kbo.png);}
.team_logo_EA {background-position:0 0%;background-size:100%;}
.team_logo_HH {background-position:0 9.090909%;background-size:100%;}
.team_logo_HT {background-position:0 18.181818%;background-size:100%;}
.team_logo_KT {background-position:0 27.272727%;background-size:100%;}
.team_logo_LG {background-position:0 36.363636%;background-size:100%;}
.team_logo_LT {background-position:0 45.454545%;background-size:100%;}
.team_logo_NC {background-position:0 54.545455%;background-size:100%;}
.team_logo_OB {background-position:0 63.636364%;background-size:100%;}
.team_logo_SK {background-position:0 72.727273%;background-size:100%;}
.team_logo_SS {background-position:0 81.818182%;background-size:100%;}
.team_logo_WE {background-position:0 90.909091%;background-size:100%;}
.team_logo_WO {background-position:0 100%;background-size:100%;}

/* logo MLB */
.team_logo_AL, .team_logo_AN, .team_logo_AT, .team_logo_AZ, .team_logo_BA, 
.team_logo_BO, .team_logo_CC, .team_logo_CI, .team_logo_CL, .team_logo_CO, 
.team_logo_CW, .team_logo_DE, .team_logo_FL, .team_logo_HO, .team_logo_KC, 
.team_logo_LA, .team_logo_MI, .team_logo_MLB, .team_logo_MN, .team_logo_MO, 
.team_logo_NL, .team_logo_NM, .team_logo_NY, .team_logo_OA, .team_logo_PH, 
.team_logo_PI, .team_logo_SD, .team_logo_SE, .team_logo_SF, .team_logo_SL, 
.team_logo_TB, .team_logo_TE, .team_logo_TO
{max-width:100%;background-size:100%;background-image:url(../images/logo/logo_mlb.png);}
.team_logo_AL {background-position:0 0%;background-size:100%;}
.team_logo_AN {background-position:0 3.125%;background-size:100%;}
.team_logo_AT {background-position:0 6.25%;background-size:100%;}
.team_logo_AZ {background-position:0 9.375%;background-size:100%;}
.team_logo_BA {background-position:0 12.5%;background-size:100%;}
.team_logo_BO {background-position:0 15.625%;background-size:100%;}
.team_logo_CC {background-position:0 18.75%;background-size:100%;}
.team_logo_CI {background-position:0 21.875%;background-size:100%;}
.team_logo_CL {background-position:0 25%;background-size:100%;}
.team_logo_CO {background-position:0 28.125%;background-size:100%;}
.team_logo_CW {background-position:0 31.25%;background-size:100%;}
.team_logo_DE {background-position:0 34.375%;background-size:100%;}
.team_logo_FL {background-position:0 37.5%;background-size:100%;}
.team_logo_HO {background-position:0 40.625%;background-size:100%;}
.team_logo_KC {background-position:0 43.75%;background-size:100%;}
.team_logo_LA {background-position:0 46.875%;background-size:100%;}
.team_logo_MI {background-position:0 50%;background-size:100%;}
.team_logo_MLB {background-position:0 53.125%;background-size:100%;}
.team_logo_MN {background-position:0 56.25%;background-size:100%;}
.team_logo_MO {background-position:0 59.375%;background-size:100%;}
.team_logo_NL {background-position:0 62.5%;background-size:100%;}
.team_logo_NM {background-position:0 65.625%;background-size:100%;}
.team_logo_NY {background-position:0 68.75%;background-size:100%;}
.team_logo_OA {background-position:0 71.875%;background-size:100%;}
.team_logo_PH {background-position:0 75%;background-size:100%;}
.team_logo_PI {background-position:0 78.125%;background-size:100%;}
.team_logo_SD {background-position:0 81.25%;background-size:100%;}
.team_logo_SE {background-position:0 84.375%;background-size:100%;}
.team_logo_SF {background-position:0 87.5%;background-size:100%;}
.team_logo_SL {background-position:0 90.625%;background-size:100%;}
.team_logo_TB {background-position:0 93.75%;background-size:100%;}
.team_logo_TE {background-position:0 96.875%;background-size:100%;}
.team_logo_TO {background-position:0 100%;background-size:100%;}

/* logo ABL */
.team_logo_abl, .team_logo_ade, .team_logo_auc, .team_logo_bri, .team_logo_can, 
.team_logo_gee, .team_logo_mel, .team_logo_per, .team_logo_syd
{max-width:100%;background-size:100%;background-image:url(../images/logo/logo_abl.png);}
.team_logo_abl {background-position:0 0%;background-size:100%;}
.team_logo_ade {background-position:0 12.5%;background-size:100%;}
.team_logo_auc {background-position:0 25%;background-size:100%;}
.team_logo_bri {background-position:0 37.5%;background-size:100%;}
.team_logo_can {background-position:0 50%;background-size:100%;}
.team_logo_gee {background-position:0 62.5%;background-size:100%;}
.team_logo_mel {background-position:0 75%;background-size:100%;}
.team_logo_per {background-position:0 87.5%;background-size:100%;}
.team_logo_syd {background-position:0 100%;background-size:100%;}

/* symbol KBO */
.team_symbol_HH, .team_symbol_HH_black, .team_symbol_HT, .team_symbol_KT, .team_symbol_LG, 
.team_symbol_LG_black, .team_symbol_LT, .team_symbol_NC, .team_symbol_OB, .team_symbol_SK, 
.team_symbol_SK_black, .team_symbol_SS, .team_symbol_WO
{max-width:100%;background-size:100%;background-image:url(../images/logo/symbol_kbo.png);}
.team_symbol_HH {background-position:0 0%;background-size:100%;}
.team_symbol_HH_black {background-position:0 8.333333%;background-size:100%;}
.team_symbol_HT {background-position:0 16.666667%;background-size:100%;}
.team_symbol_KT {background-position:0 25%;background-size:100%;}
.team_symbol_LG {background-position:0 33.333333%;background-size:100%;}
.team_symbol_LG_black {background-position:0 41.666667%;background-size:100%;}
.team_symbol_LT {background-position:0 50%;background-size:100%;}
.team_symbol_NC {background-position:0 58.333333%;background-size:100%;}
.team_symbol_OB {background-position:0 66.666667%;background-size:100%;}
.team_symbol_SK {background-position:0 75%;background-size:100%;}
.team_symbol_SK_black {background-position:0 83.333333%;background-size:100%;}
.team_symbol_SS {background-position:0 91.666667%;background-size:100%;}
.team_symbol_WO {background-position:0 100%;background-size:100%;}







/*******************************************************************************************/
