@charset "utf-8";

/* 1.LG[LG], 2.삼성[SS], 3.한화[HH], 4.두산[OB], 5.키움[WO],
6.SK[SK], 7.NC[NC], 8.KT[KT], 9.기아[HT], 10.롯데[LT] */
/* theme bg(응원팀) */
[data-theme="theme_LG"] .bg_theme {background-color:#C10A3A;}
[data-theme="theme_SS"] .bg_theme {background-color:#0063AB;}
[data-theme="theme_HH"] .bg_theme {background-color:#DA5A17;}
[data-theme="theme_OB"] .bg_theme {background-color:#131230;}
[data-theme="theme_WO"] .bg_theme {background-color:#5B0016;}
[data-theme="theme_SK"] .bg_theme {background-color:#C8132F;}
[data-theme="theme_NC"] .bg_theme {background-color:#1F477B;}
[data-theme="theme_KT"] .bg_theme {background-color:#000000;}
[data-theme="theme_HT"] .bg_theme {background-color:#AC1020;}
[data-theme="theme_LT"] .bg_theme {background-color:#C30025;}

/* theme bnb(응원팀) */
[data-theme="theme_LG"] .tab_container .active_label_container .label {color:#C10A3A;}
[data-theme="theme_HH"] .tab_container .active_label_container .label {color:#DA5A17;}
[data-theme="theme_SS"] .tab_container .active_label_container .label {color:#0063AB;}
[data-theme="theme_KT"] .tab_container .active_label_container .label {color:#000;}
[data-theme="theme_SK"] .tab_container .active_label_container .label {color:#C8132F;}
[data-theme="theme_WO"] .tab_container .active_label_container .label {color:#5B0016;}
[data-theme="theme_NC"] .tab_container .active_label_container .label {color:#1F477B;}
[data-theme="theme_LT"] .tab_container .active_label_container .label {color:#C30025;}
[data-theme="theme_OB"] .tab_container .active_label_container .label {color:#131230;}
[data-theme="theme_HT"] .tab_container .active_label_container .label {color:#AC1020;}

[data-theme="theme_default"] svg > g path[fill-opacity="0"] {stroke:#C10A3A;}
[data-theme="theme_default"] svg > g path[fill-opacity="1"] {fill:#C10A3A;}
[data-theme="theme_OB"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#131230;}
[data-theme="theme_OB"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#131230;}
[data-theme="theme_HH"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#DA5A17;}
[data-theme="theme_HH"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#DA5A17;}
[data-theme="theme_HT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#AC1020;}
[data-theme="theme_HT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#AC1020;}
[data-theme="theme_WO"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#5B0016;}
[data-theme="theme_WO"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#5B0016;}
[data-theme="theme_KT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#000000;}
[data-theme="theme_KT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#000000;}
[data-theme="theme_LG"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#C10A3A;}
[data-theme="theme_LG"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#C10A3A;}
[data-theme="theme_LT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#C30025;}
[data-theme="theme_LT"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#C30025;}
[data-theme="theme_NC"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#1F477B;}
[data-theme="theme_NC"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#1F477B;}
[data-theme="theme_SS"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#0063AB;}
[data-theme="theme_SS"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#0063AB;}
[data-theme="theme_SK"] .tab:not(.tab-team-info) svg > g path[fill-opacity="0"] {stroke:#C8132F;}
[data-theme="theme_SK"] .tab:not(.tab-team-info) svg > g path[fill-opacity="1"] {fill:#C8132F;}

[data-theme="theme_default"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-none.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_LG"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-lg.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_OB"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-doosan.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_HH"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-hanwha.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_HT"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-kia.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_WO"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-kiwoom.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_KT"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-kt.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_LT"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-lotte.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_NC"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-nc.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_SS"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-samsung.png) center 1rem no-repeat;background-size:2.7333rem;}
[data-theme="theme_SK"] .tab_button .tab.tab_team_info {background:url(../images/gnb/ic-gnb-nor-team-sk.png) center 1rem no-repeat;background-size:2.7333rem;}
.tab_button .tab.tab_home {background:url(../images/gnb/ic-gnb-nor-home.png) center 1rem no-repeat;background-size:2.7333rem;}
.tab_button .tab.tab_relay {background:url(../images/gnb/ic-gnb-nor-live.png) center 1rem no-repeat;background-size:2.7333rem;}
.tab_button .tab.tab_game {background:url(../images/gnb/ic-gnb-nor-game.png) center 1rem no-repeat;background-size:2.7333rem;}
.tab_button .tab.tab_my {background:url(../images/gnb/ic-gnb-nor-my.png) center 1rem no-repeat;background-size:2.7333rem;}


[data-theme="theme_default"] .tab_link .tab_item.active span {color:#c10a3a;}
[data-theme="theme_LG"] .tab_link .tab_item.active span {color:#c10a3a;}
[data-theme="theme_HH"] .tab_link .tab_item.active span {color:#DA5A17;}
[data-theme="theme_SS"] .tab_link .tab_item.active span {color:#0063AB;}
[data-theme="theme_KT"] .tab_link .tab_item.active span {color:#000000;}
[data-theme="theme_SK"] .tab_link .tab_item.active span {color:#C8132F;}
[data-theme="theme_WO"] .tab_link .tab_item.active span {color:#5B0016;}
[data-theme="theme_NC"] .tab_link .tab_item.active span {color:#1F477B;}
[data-theme="theme_OB"] .tab_link .tab_item.active span {color:#131230;}
[data-theme="theme_HT"] .tab_link .tab_item.active span {color:#AC1020;}
[data-theme="theme_LT"] .tab_link .tab_item.active span {color:#C30025;}

[data-theme="theme_default"] .active_bar {background-color:#c10a3a;}
[data-theme="theme_LG"] .active_bar {background-color:#c10a3a;}
[data-theme="theme_HH"] .active_bar {background-color:#DA5A17;}
[data-theme="theme_SS"] .active_bar {background-color:#0063AB;}
[data-theme="theme_KT"] .active_bar {background-color:#000000;}
[data-theme="theme_SK"] .active_bar {background-color:#C8132F;}
[data-theme="theme_WO"] .active_bar {background-color:#5B0016;}
[data-theme="theme_NC"] .active_bar {background-color:#1F477B;}
[data-theme="theme_OB"] .active_bar {background-color:#131230;}
[data-theme="theme_HT"] .active_bar {background-color:#AC1020;}
[data-theme="theme_LT"] .active_bar {background-color:#C30025;}

[data-theme="theme_default"] .active_bar {background-color:#c10a3a;}
[data-theme="theme_LG"] .active_bar {background-color:#c10a3a;}
[data-theme="theme_HH"] .active_bar {background-color:#DA5A17;}
[data-theme="theme_SS"] .active_bar {background-color:#0063AB;}
[data-theme="theme_KT"] .active_bar {background-color:#000000;}
[data-theme="theme_SK"] .active_bar {background-color:#C8132F;}
[data-theme="theme_WO"] .active_bar {background-color:#5B0016;}
[data-theme="theme_NC"] .active_bar {background-color:#1F477B;}
[data-theme="theme_OB"] .active_bar {background-color:#131230;}
[data-theme="theme_HT"] .active_bar {background-color:#AC1020;}
[data-theme="theme_LT"] .active_bar {background-color:#C30025;}

[data-theme="theme_default"] .tab_item.active {color:#c10a3a;}
[data-theme="theme_LG"] .tab_item.active {color:#c10a3a;}
[data-theme="theme_HH"] .tab_item.active {color:#DA5A17;}
[data-theme="theme_SS"] .tab_item.active {color:#0063AB;}
[data-theme="theme_KT"] .tab_item.active {color:#000000;}
[data-theme="theme_SK"] .tab_item.active {color:#C8132F;}
[data-theme="theme_WO"] .tab_item.active {color:#5B0016;}
[data-theme="theme_NC"] .tab_item.active {color:#1F477B;}
[data-theme="theme_OB"] .tab_item.active {color:#131230;}
[data-theme="theme_HT"] .tab_item.active {color:#AC1020;}
[data-theme="theme_LT"] .tab_item.active {color:#C30025;}

[data-theme="theme_default"] .active_fill {color:#c10a3a;border-color:#c10a3a;background-color:rgba(193,10,58,0.07);}
[data-theme="theme_LG"] .active_fill {color:#c10a3a;border-color:#c10a3a;background-color:rgba(193,10,58,0.07);}
[data-theme="theme_HH"] .active_fill {color:#DA5A17;border-color:#DA5A17;background-color:rgba(218,90,23,0.07);}
[data-theme="theme_SS"] .active_fill {color:#0063AB;border-color:#0063AB;background-color:rgba(0,99,171,0.07);}
[data-theme="theme_KT"] .active_fill {color:#000000;border-color:#000000;background-color:rgba(0,0,0,0.07);}
[data-theme="theme_SK"] .active_fill {color:#C8132F;border-color:#C8132F;background-color:rgba(200,19,47,0.07);}
[data-theme="theme_WO"] .active_fill {color:#5B0016;border-color:#5B0016;background-color:rgba(91,0,22,0.07);}
[data-theme="theme_NC"] .active_fill {color:#1F477B;border-color:#1F477B;background-color:rgba(31,71,123,0.07);}
[data-theme="theme_OB"] .active_fill {color:#131230;border-color:#131230;background-color:rgba(19,18,48,0.07);}
[data-theme="theme_HT"] .active_fill {color:#AC1020;border-color:#AC1020;background-color:rgba(171,16,32,0.07);}
[data-theme="theme_LT"] .active_fill {color:#C30025;border-color:#C30025;background-color:rgba(195,0,37,0.07);}

/* My Team Bg */
[data-theme="theme_default"] .my_team {background-color:#C10A3A;}
[data-theme="theme_LG"] .my_team {background-color:#C10A3A;}
[data-theme="theme_HH"] .my_team {background-color:#DA5A17;}
[data-theme="theme_SS"] .my_team {background-color:#0063AB;}
[data-theme="theme_KT"] .my_team {background-color:#000000;}
[data-theme="theme_SK"] .my_team {background-color:#C8132F;}
[data-theme="theme_WO"] .my_team {background-color:#5B0016;}
[data-theme="theme_NC"] .my_team {background-color:#1F477B;}
[data-theme="theme_OB"] .my_team {background-color:#C30025;}
[data-theme="theme_HT"] .my_team {background-color:#131230;}
[data-theme="theme_LT"] .my_team {background-color:#AC1020;}

/* theme 달력 */
[data-theme="theme_default"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #c30137 -39%, #a7003b 122%);}
[data-theme="theme_LG"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #c30137 -39%, #a7003b 122%);}
[data-theme="theme_HH"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #d4682e -74%, #d4682e -22%, #c2541a 125%);}
[data-theme="theme_SS"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #0066b3 -14%, #005ca3);}
[data-theme="theme_KT"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #242223 -25%, #1f1d1d);}
[data-theme="theme_SK"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #f45b25 -249%, #dd4936 -74%, #97001c 340%);}
[data-theme="theme_WO"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #93001c -13%, #86001a 108%);}
[data-theme="theme_NC"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #224e8c -16%, #1d467f 120%);}
[data-theme="theme_OB"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #1b335c -15%, #192a57 116%);}
[data-theme="theme_HT"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #b22030 -44%, #921925 122%);}
[data-theme="theme_LT"] .modal .bg_gradient {background-image: linear-gradient(to bottom, #092e63 -866%, #b70522 172%, #a30a29 172%);}


/* Team Color bg*/
.team_color_LG {background-color:#C10A3A;}
.team_color_SS {background-color:#0063AB;}
.team_color_HH {background-color:#DA5A17;}
.team_color_OB {background-color:#131230;}
.team_color_WO {background-color:#5B0016;}
.team_color_SK {background-color:#C8132F;}
.team_color_NC {background-color:#1F477B;}
.team_color_KT {background-color:#000000;}
.team_color_HT {background-color:#AC1020;}
.team_color_LT {background-color:#C30025;}


/* logo KBO */
.team_logo_EA, .team_logo_HH, .team_logo_HT, .team_logo_KT, .team_logo_LG, 
.team_logo_LT, .team_logo_NC, .team_logo_OB, .team_logo_SK, .team_logo_SS, 
.team_logo_WE, .team_logo_WO {max-width:100%;background-size:100%;background-image:url(../images/logo/logo_kbo.png);}
.team_logo_EA {background-position:0 0%;background-size:100%;}
.team_logo_HH {background-position:0 9.090909%;background-size:100%;}
.team_logo_HT {background-position:0 18.181818%;background-size:100%;}
.team_logo_KT {background-position:0 27.272727%;background-size:100%;}
.team_logo_LG {background-position:0 36.363636%;background-size:100%;}
.team_logo_LT {background-position:0 45.454545%;background-size:100%;}
.team_logo_NC {background-position:0 54.545455%;background-size:100%;}
.team_logo_OB {background-position:0 63.636364%;background-size:100%;}
.team_logo_SK {background-position:0 72.727273%;background-size:100%;}
.team_logo_SS {background-position:0 81.818182%;background-size:100%;}
.team_logo_WE {background-position:0 90.909091%;background-size:100%;}
.team_logo_WO {background-position:0 100%;background-size:100%;}

/* logo MLB */
.team_logo_AL, .team_logo_AN, .team_logo_AT, .team_logo_AZ, .team_logo_BA, 
.team_logo_BO, .team_logo_CC, .team_logo_CI, .team_logo_CL, .team_logo_CO, 
.team_logo_CW, .team_logo_DE, .team_logo_FL, .team_logo_HO, .team_logo_KC, 
.team_logo_LA, .team_logo_MI, .team_logo_MLB, .team_logo_MN, .team_logo_MO, 
.team_logo_NL, .team_logo_NM, .team_logo_NY, .team_logo_OA, .team_logo_PH, 
.team_logo_PI, .team_logo_SD, .team_logo_SE, .team_logo_SF, .team_logo_SL, 
.team_logo_TB, .team_logo_TE, .team_logo_TO
{max-width:100%;background-size:100%;background-image:url(../images/logo/logo_mlb.png);}
.team_logo_AL {background-position:0 0%;background-size:100%;}
.team_logo_AN {background-position:0 3.125%;background-size:100%;}
.team_logo_AT {background-position:0 6.25%;background-size:100%;}
.team_logo_AZ {background-position:0 9.375%;background-size:100%;}
.team_logo_BA {background-position:0 12.5%;background-size:100%;}
.team_logo_BO {background-position:0 15.625%;background-size:100%;}
.team_logo_CC {background-position:0 18.75%;background-size:100%;}
.team_logo_CI {background-position:0 21.875%;background-size:100%;}
.team_logo_CL {background-position:0 25%;background-size:100%;}
.team_logo_CO {background-position:0 28.125%;background-size:100%;}
.team_logo_CW {background-position:0 31.25%;background-size:100%;}
.team_logo_DE {background-position:0 34.375%;background-size:100%;}
.team_logo_FL {background-position:0 37.5%;background-size:100%;}
.team_logo_HO {background-position:0 40.625%;background-size:100%;}
.team_logo_KC {background-position:0 43.75%;background-size:100%;}
.team_logo_LA {background-position:0 46.875%;background-size:100%;}
.team_logo_MI {background-position:0 50%;background-size:100%;}
.team_logo_MLB {background-position:0 53.125%;background-size:100%;}
.team_logo_MN {background-position:0 56.25%;background-size:100%;}
.team_logo_MO {background-position:0 59.375%;background-size:100%;}
.team_logo_NL {background-position:0 62.5%;background-size:100%;}
.team_logo_NM {background-position:0 65.625%;background-size:100%;}
.team_logo_NY {background-position:0 68.75%;background-size:100%;}
.team_logo_OA {background-position:0 71.875%;background-size:100%;}
.team_logo_PH {background-position:0 75%;background-size:100%;}
.team_logo_PI {background-position:0 78.125%;background-size:100%;}
.team_logo_SD {background-position:0 81.25%;background-size:100%;}
.team_logo_SE {background-position:0 84.375%;background-size:100%;}
.team_logo_SF {background-position:0 87.5%;background-size:100%;}
.team_logo_SL {background-position:0 90.625%;background-size:100%;}
.team_logo_TB {background-position:0 93.75%;background-size:100%;}
.team_logo_TE {background-position:0 96.875%;background-size:100%;}
.team_logo_TO {background-position:0 100%;background-size:100%;}

/* logo ABL */
.team_logo_abl, .team_logo_ade, .team_logo_auc, .team_logo_bri, .team_logo_can, 
.team_logo_gee, .team_logo_mel, .team_logo_per, .team_logo_syd
{max-width:100%;background-size:100%;background-image:url(../images/logo/logo_abl.png);}
.team_logo_abl {background-position:0 0%;background-size:100%;}
.team_logo_ade {background-position:0 12.5%;background-size:100%;}
.team_logo_auc {background-position:0 25%;background-size:100%;}
.team_logo_bri {background-position:0 37.5%;background-size:100%;}
.team_logo_can {background-position:0 50%;background-size:100%;}
.team_logo_gee {background-position:0 62.5%;background-size:100%;}
.team_logo_mel {background-position:0 75%;background-size:100%;}
.team_logo_per {background-position:0 87.5%;background-size:100%;}
.team_logo_syd {background-position:0 100%;background-size:100%;}

/* symbol KBO */
.team_symbol_HH, .team_symbol_HH_black, .team_symbol_HT, .team_symbol_KT, .team_symbol_LG, 
.team_symbol_LG_black, .team_symbol_LT, .team_symbol_NC, .team_symbol_OB, .team_symbol_SK, 
.team_symbol_SK_black, .team_symbol_SS, .team_symbol_WO
{max-width:100%;background-size:100%;background-image:url(../images/logo/symbol_kbo.png);}
.team_symbol_HH {background-position:0 0%;background-size:100%;}
.team_symbol_HH_black {background-position:0 8.333333%;background-size:100%;}
.team_symbol_HT {background-position:0 16.666667%;background-size:100%;}
.team_symbol_KT {background-position:0 25%;background-size:100%;}
.team_symbol_LG {background-position:0 33.333333%;background-size:100%;}
.team_symbol_LG_black {background-position:0 41.666667%;background-size:100%;}
.team_symbol_LT {background-position:0 50%;background-size:100%;}
.team_symbol_NC {background-position:0 58.333333%;background-size:100%;}
.team_symbol_OB {background-position:0 66.666667%;background-size:100%;}
.team_symbol_SK {background-position:0 75%;background-size:100%;}
.team_symbol_SK_black {background-position:0 83.333333%;background-size:100%;}
.team_symbol_SS {background-position:0 91.666667%;background-size:100%;}
.team_symbol_WO {background-position:0 100%;background-size:100%;}

/* tab_teamlist Color */
.tab_teamlist .team_LG svg path[fill-opacity="1"] {fill:#C10A3A;}
.tab_teamlist .team_LG .my_team {background-color:#C10A3A;}
.tab_teamlist .team_HH svg path[fill-opacity="1"] {fill:#DA5A17;}
.tab_teamlist .team_HH .my_team {background-color:#DA5A17;}
.tab_teamlist .team_SS svg path[fill-opacity="1"] {fill:#0063AB;}
.tab_teamlist .team_SS .my_team {background-color:#0063AB;}
.tab_teamlist .team_KT svg path[fill-opacity="1"] {fill:#000000;}
.tab_teamlist .team_KT .my_team {background-color:#000000;}
.tab_teamlist .team_SK svg path[fill-opacity="1"] {fill:#C8132F;}
.tab_teamlist .team_SK .my_team {background-color:#C8132F;}
.tab_teamlist .team_WO svg path[fill-opacity="1"] {fill:#5B0016;}
.tab_teamlist .team_WO .my_team {background-color:#5B0016;}
.tab_teamlist .team_NC svg path[fill-opacity="1"] {fill:#1F477B;}
.tab_teamlist .team_NC .my_team {background-color:#1F477B;}
.tab_teamlist .team_LT svg path[fill-opacity="1"] {fill:#C30025;}
.tab_teamlist .team_LT .my_team {background-color:#C30025;}
.tab_teamlist .team_OB svg path[fill-opacity="1"] {fill:#131230;}
.tab_teamlist .team_OB .my_team {background-color:#131230;}
.tab_teamlist .team_HT svg path[fill-opacity="1"] {fill:#AC1020;}
.tab_teamlist .team_HT .my_team {background-color:#AC1020;}

/* 1.LG[LG], 2.삼성[SS], 3.한화[HH], 4.두산[OB], 5.키움[WO],
6.SK[SK], 7.NC[NC], 8.KT[KT], 9.기아[HT], 10.롯데[LT] */

/* Team player info bg*/
.player_info_bg_LG {background-image:url('../images/bg/bg-team-player-lg.png');}
.player_info_bg_SS {background-image:url('../images/bg/bg-team-player-samsung.png');}
.player_info_bg_HH {background-image:url('../images/bg/bg-team-player-hanwha.png');}
.player_info_bg_OB {background-image:url('../images/bg/bg-team-player-doosan.png');}
.player_info_bg_WO {background-image:url('../images/bg/bg-team-player-kiwoom.png');}
.player_info_bg_SK {background-image:url('../images/bg/bg-team-player-sk.png');}
.player_info_bg_NC {background-image:url('../images/bg/bg-team-player-nc.png');}
.player_info_bg_KT {background-image:url('../images/bg/bg-team-player-kt.png');}
.player_info_bg_HT {background-image:url('../images/bg/bg-team-player-kia.png');}
.player_info_bg_LT {background-image:url('../images/bg/bg-team-player-lotte.png');}

/* Team schedule bg */
.team_schedule_bg_LG {background-image:url('../images/bg/team_schedule_bg_LG.png');}
.team_schedule_bg_SS {background-image:url('../images/bg/team_schedule_bg_SS.png');}
.team_schedule_bg_HH {background-image:url('../images/bg/team_schedule_bg_HH.png');}
.team_schedule_bg_OB {background-image:url('../images/bg/team_schedule_bg_OB.png');}
.team_schedule_bg_WO {background-image:url('../images/bg/team_schedule_bg_WO.png');}
.team_schedule_bg_SK {background-image:url('../images/bg/team_schedule_bg_SK.png');}
.team_schedule_bg_NC {background-image:url('../images/bg/team_schedule_bg_NC.png');}
.team_schedule_bg_KT {background-image:url('../images/bg/team_schedule_bg_KT.png');}
.team_schedule_bg_HT {background-image:url('../images/bg/team_schedule_bg_HT.png');}
.team_schedule_bg_LT {background-image:url('../images/bg/team_schedule_bg_LT.png');}
.team_schedule_bg_GY {background-image:url('../images/bg/team_schedule_bg_GY.png');}

/* Team record ranking bg */
.team_ranking_bg_LG {background-image:url('../images/bg/bg-team-rangking-lg.png');}
.team_ranking_bg_SS {background-image:url('../images/bg/bg-team-rangking-samsung.png');}
.team_ranking_bg_HH {background-image:url('../images/bg/bg-team-rangking-hanwha.png');}
.team_ranking_bg_OB {background-image:url('../images/bg/bg-team-rangking-doosan.png');}
.team_ranking_bg_WO {background-image:url('../images/bg/bg-team-rangking-kiwoom.png');}
.team_ranking_bg_SK {background-image:url('../images/bg/bg-team-rangking-sk.png');}
.team_ranking_bg_NC {background-image:url('../images/bg/bg-team-rangking-nc.png');}
.team_ranking_bg_KT {background-image:url('../images/bg/bg-team-rangking-kt.png');}
.team_ranking_bg_HT {background-image:url('../images/bg/bg-team-rangking-kia.png');}
.team_ranking_bg_LT {background-image:url('../images/bg/bg-team-rangking-lotte.png');}
.team_ranking_bg_GY {background-image:url('../images/bg/bg-team-rangking-goyang.png');}



/* Team 1순위 piching type color */
.pitching_color_DEFAULT .i_ratio {background-color:#c10a3a;}
.pitching_color_DEFAULT .i_name,
.pitching_color_DEFAULT .i_speed {color:#c10a3a;}
.pitching_color_LG .i_ratio {background-color:#c10a3a;}
.pitching_color_LG .i_name,
.pitching_color_LG .i_speed {color:#c10a3a;}
.pitching_color_SS .i_ratio {background-color:#0063ab;}
.pitching_color_SS .i_name,
.pitching_color_SS .i_speed {color:#0063ab;}
.pitching_color_HH .i_ratio {background-color:#da5a17;}
.pitching_color_HH .i_name,
.pitching_color_HH .i_speed {color:#da5a17;}
.pitching_color_OB .i_ratio {background-color:#131230;}
.pitching_color_OB .i_name,
.pitching_color_OB .i_speed {color:#131230;}
.pitching_color_WO .i_ratio {background-color:#5b0016;}
.pitching_color_WO .i_name,
.pitching_color_WO .i_speed {color:#5b0016;}
.pitching_color_SK .i_ratio {background-color:#c8132f;}
.pitching_color_SK .i_name,
.pitching_color_SK .i_speed {color:#c8132f;}
.pitching_color_NC .i_ratio {background-color:#1f477b;}
.pitching_color_NC .i_name,
.pitching_color_NC .i_speed {color:#1f477b;}
.pitching_color_KT .i_ratio {background-color:#000000;}
.pitching_color_KT  .i_name,
.pitching_color_KT .i_speed {color:#000000;}
.pitching_color_HT .i_ratio {background-color:#ac1020;}
.pitching_color_HT .i_name,
.pitching_color_HT .i_speed {color:#ac1020;}
.pitching_color_LT .i_ratio {background-color:#c30025;}
.pitching_color_LT .i_name,
.pitching_color_LT .i_speed {color:#c30025;}

/*******************************************************************************************/
