@charset "utf-8";
@import url('reset.css');

#wrap {position:absolute;width:100%;min-height:100%;overflow:hidden;}
#wrap.main {background-color:#ffffff;}
#wrap.sub {background-color:#F7F7F7;}
#container {position:relative;width:100%;}

/* 여기서 부터 작업 부탁드려요 */




/* footer */
#footer {position:fixed;bottom:0;left:0;z-index:1;width:100vw;}
.tab-container {position:relative;width:100vw;height:5.6rem;}
.tab-container .tab-bar {display:flex;position:relative;z-index:2;width:100vw;margin:0;height:5.6rem;filter:drop-shadow(0 0 0.2rem #b6b6b6);}
.tab-container .tab-bar .left-side {flex-grow:0;-webkit-box-flex:0;background-color:#fff;transition:all ease-out 0.5s;transition-timing-function:cubic-bezier(0, 0, 0, 0.79);}
.tab-container .tab-bar .middle {display:flex;width:20vw;min-width:12.2rem;}
.tab-container .tab-bar .middle .left-middle, .tab-container .tab-bar .middle .right-middle {flex-grow:1;-webkit-box-flex:1;height:5.6rem;background-color:#fff;}
.tab-container .tab-bar .middle .center-middle {flex-basis:12.2rem;flex-grow:0;width:12.2rem;height:5.6rem;background:url('../images/tabbar_middle.png') center bottom no-repeat;background-size:auto 5.6rem;}
.tab-container .tab-bar .right-side {flex-grow:1;-webkit-box-flex:1;background-color:#fff;transition:all ease-out 0.5s;transition-timing-function:cubic-bezier(0, 0, 0, 0.79);}
.tab-container .tab-button, .tab-container .active-tab-container {display:flex;position:absolute;top:0;left:0;z-index:3;width:100vw;}
.tab-container .tab-button .caption, .tab-container .active-tab-container .caption {flex-grow:0;}
.tab-container .tab-button .tab, .tab-container .active-tab-container .tab {flex-grow:1;width:4.6rem;height:5.6rem;padding-top:4rem;font-size:1.2rem;text-align:center;line-height:1rem;opacity:1;-webkit-tap-highlight-color:transparent;transition:all ease-out 0.2s;transform:scale(1) translateY(0);transition-timing-function:cubic-bezier(0, 0, 0, 0.79);}
.tab-container .tab-button .tab.hide, .tab-container .active-tab-container .tab.hide {opacity:0;transform:scale(0.4) translateY(30px);}
.tab-container .tab-button .tab.tab-home, .tab-container .active-tab-container .tab.tab-home {background:url('../images/tab_home.png') center -4.6rem no-repeat;background-size:4.6rem;}
.tab-container .tab-button .tab.tab-team-info, .tab-container .active-tab-container .tab.tab-team-info {background:url('../images/tab_team_info.png') center -4.6rem no-repeat;background-size:4.6rem;}
.tab-container .tab-button .tab.tab-relay, .tab-container .active-tab-container .tab.tab-relay {background:url('../images/tab_relay.png') center -4.6rem no-repeat;background-size:4.6rem;}
.tab-container .tab-button .tab.tab-game, .tab-container .active-tab-container .tab.tab-game {background:url('../images/tab_game.png') center -4.6rem no-repeat;background-size:4.6rem;}
.tab-container .tab-button .tab.tab-my, .tab-container .active-tab-container .tab.tab-my {background:url('../images/tab_my.png') center -4.6rem no-repeat;background-size:4.6rem;}
.tab-container .active-tab-container {z-index:1;filter:drop-shadow(0 0 0.3rem #999);}
.tab-container .active-tab-container.from-left .tab {left:-2.5rem;}
.tab-container .active-tab-container.from-right .tab {left:2.5rem;}
.tab-container .active-tab-container .tab {display:flex;position:relative;top:4rem;justify-content:center;padding-top:0;background:none !important;transition:top 0.2s, left 0.2s, right 0.2s, opacity 0.2s;transition-timing-function:cubic-bezier(0, 0, 0, 1);}
.tab-container .active-tab-container .tab.active {top:-1.8rem;left:0;}
.tab-container .active-tab-container .tab.active .circle {opacity:1;}
.tab-container .active-tab-container .tab .circle {width:5rem;height:5rem;border-radius:50%;background:none;background-color:#fff;line-height:5rem;}
.tab-container .active-tab-container .tab .circle .img-box {margin:5px 0;}
.tab-container .active-tab-container .tab .circle .img-box img {width:3.8rem !important;}


/*******************************************************************************************/
