@charset "utf-8";
@import url('reset.css');

#wrap {position:absolute;width:100%;min-height:100%;overflow:hidden;}
#wrap.main {background-color:#ffffff;}
#wrap.sub {background-color:##F7F7F7;}
#container {position:relative;width:100%;}



/*******************************************************************************************/
