@charset "utf-8";
@import url('reset.css');
@import url('theme.css');

#wrap {position:absolute;width:100%;min-height:100%;overflow:hidden;}
#wrap.main {background-color:#ffffff;}
#wrap.sub {background-color:#F7F7F7;}
#container {position:relative;width:100%;}

/* 여기서 부터 작업 부탁드려요 */
/* Common */
.inner {padding:0 1.5333rem;}
.blind {font-size:0;line-height:0;direction:ltr;text-indent:-999em;}
.text_left {text-align:left !important;}
.text_center {text-align:center !important;}
.text_right {text-align:right !important;}
.i_gray {color:#c2c3c7 !important;}

/* Sub page title + btn back */
.page_title_wrap {width:100%;height:5rem;background-color:rgba(255, 255, 255, 0.98);}
.page_title_wrap .inner {position:relative;height:100%;}
.page_title_wrap h2 {margin:0 auto;width:81.781376%;height:100%;line-height:5rem;font-size:1.6667rem;font-weight:bold;text-align:center;color:#000000;}
.page_title_wrap .btn_back {display:block;position:absolute;top:1.5rem;left:1.5333rem;width:2rem;height:2.0333rem;background:url("../images/ic-title-back.png") no-repeat 50% 50%;background-size:cover;}

/* Sec title */
.content .title_hd {position:relative;padding:0.5333rem 0 0.5rem;height:3.5rem;font-size:0;}
.content .title_hd > span {display:inline-block;vertical-align:top;}
.content .title_hd > span.sec_title {height:2.4667rem;line-height:2.4667rem;font-size:1.6667rem;font-weight:bold;color:#000000;}
.content .title_hd > .more {display:inline-block;position:absolute;top:0.1667rem;right:-0.8rem;width:3.2rem;height:3.2rem;vertical-align:top;background:url("../images/ic-arrow-title.png") no-repeat 50% 50%;background-size:cover;}
.content .title_hd.line2 {height:6rem;line-height:1;}
.content .title_hd.line2 > span.sec_title {height:4.9333rem;}

/* HOME */
.home.content .top_phrase {padding:1rem 0 0 2.4rem;height:13.3333rem;background-repeat:no-repeat;background-position:100% 1.3333rem;background-size:auto 10.6667rem;background-color:#ffffff;}
.content .sec_wrapper {padding:1.5333rem 0;border-bottom:0.9333rem solid #f0f1f6;}
.home.content .top_phrase.case01 {background-image:url("../images/img-home-illust-01.png");}
.home.content .top_phrase.case02 {background-image:url("../images/img-home-illust-02.png");}
.home.content .top_phrase.case03 {background-image:url("../images/img-home-illust-03.png");}
.home.content .top_phrase.case04 {background-image:url("../images/img-home-illust-04.png");}
.home.content .top_phrase.case05 {background-image:url("../images/img-home-illust-05.png");}
.home.content .top_phrase.case06 {background-image:url("../images/img-home-illust-06.png");}
.home.content .top_phrase.case07 {background-image:url("../images/img-home-illust-07.png");}
.home.content .top_phrase.case08 {background-image:url("../images/img-home-illust-08.png");}
.home.content .top_phrase.case09 {background-image:url("../images/img-home-illust-09.png");}
.home.content .top_phrase.case10 {background-image:url("../images/img-home-illust-10.png");}
.home.content .top_phrase h1.ic_logo_lgu {width:7.2rem;height:1.6333rem;background:url("../images/ic-logo-lgu.png") no-repeat;background-size:cover;}
.home.content .top_phrase h1.ic_logo_lgu > a {display:block;width:100%;height:100%;}
.home.content .top_phrase .quo_marks {display:block;margin-bottom:0.5667rem;width:1.8333rem;height:1.8333rem;background:url("../images/ic-home-top-text-b.png") no-repeat;background-size:cover;}
.home.content .top_phrase > p {margin-top:2.7333rem;width:22rem;height:4.5333rem;font-size:1.6667rem;font-weight:300;line-height:1.36;color:#000000;}
.home.content .score_board_wrap {margin-top:2.5333rem;padding-top:0;}
.home.content .score_today {position:relative;margin:0 -1.5333rem;padding:0 1.5333rem;height:10.8333rem;text-align:center;}
.home.content .score_today > div {font-size:24px;height:100%;}
.home.content .score_today > div.team_img_wrap {position:absolute;top:0.7667rem;width:10.1333rem;}
.home.content .score_today > div.team_img_wrap.left {left:1.5333rem;}
.home.content .score_today > div.team_img_wrap.right {right:1.5333rem;}
.home.content .score_today > div.team_img_wrap .team_img {position:relative;margin:0 auto;width:7.0667rem;height:7.0667rem;border:1px solid #e8e8e8;border-radius:2.2667rem;background-repeat:no-repeat;background-size:100% auto;}
.home.content .score_today > div.team_img_wrap .team_img .team_logo_xs {display:block;position:absolute;bottom:0;right:-0.5333rem;width:2.3333rem;height:2.3333rem;border-radius:50%;}
.home.content .score_today > div.team_img_wrap .team_img .team_logo_xs > span {display:block;margin:0.4rem auto;width:1.5333rem;height:1.5333rem;background-repeat:no-repeat;}
.home.content .score_today > div.team_img_wrap .player_name {display:block;margin-top:0.4333rem;height:2.2rem;font-size:1.5rem;font-weight:bold;text-align:center;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.home.content .score_today > div.middle_box {position:relative;z-index:1;margin:0 auto;width:12.6667rem;}
.home.content .score_today > div.middle_box .logo_na {display:block;margin:0 auto;width:3.8333rem;height:1.6667rem;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;}
.home.content .score_today > div.middle_box .logo_na.kbo {background-image:url("../images/ic-logo-kbo-lg.png");} /* KBO logo */
.home.content .score_today > div.middle_box .logo_na.mlb {background-image:url("../images/ic-logo-mlb-navy.png");} /* KBO logo */
.home.content .score_today > div.middle_box .title {display:block;height:2.4667rem;font-size:1.6667rem;font-weight:bold;color:#2b2b2b;text-align:center;}
.home.content .score_today > div.middle_box .play_score {overflow:hidden;}
.home.content .score_today > div.middle_box .play_score em {display:block;float:left;width:3.5rem;height:4.0667rem;font-family:'bebas_neueregular';font-weight:bold;font-size:4rem;line-height:4.8rem;font-style:normal;color:#000000;}
.home.content .score_board_wrap .result_val {margin-right:0.2667rem;font-size:inherit;font-weight:inherit;font-style:normal;color:#c2c3c7;}
.home.content .score_board_wrap .middle_box .play_score .ic_vs_main {display:block;float:left;width:5.6667rem;height:4.0667rem;background-repeat:no-repeat;background-position:50% 50%;background-size:1.4333rem 2.2rem;}
.home.content .score_board_wrap .middle_box .play_score .ic_vs_main.vs_red {background-image:url("../images/ic-vs-main-red.png");}
.home.content .score_board_wrap .middle_box .play_score .ic_vs_main.vs_gray {background-image:url("../images/ic-vs-main-gray.png");}
.home.content .score_board_wrap .middle_box .info_today {display:inline-block;margin:1rem 0 1.2333rem;padding:0 0.9rem;height:1.9rem;font-size:1.1667rem;font-weight:500;color:#ffffff;border-radius:0.86665rem;vertical-align:top;}
.home.content .score_board_wrap .middle_box .info_today.i_schedule {background-color:#c10a3a;}
.home.content .score_board_wrap .middle_box .info_today.i_cancel {background-color:#c2c3c7;}
.home.content .score_board_wrap .middle_box .info_round {clear:both;display:block;height:2.2rem;line-height:2.2rem;font-size:1.5rem;font-weight:500;color:#525252;}
.home.content .score_board_wrap .play_list {margin-top:1rem;padding:0 2.3333rem;box-shadow:0 0.5rem 1.7rem 0 rgba(0, 0, 0, 0.09);}
.home.content .score_board_wrap .play_list li {position:relative;padding:0.7333rem 0 0.9rem;width:100%;height:6.8333rem;border-top:1px solid #dee1e6;text-align:center;}
.home.content .score_board_wrap .play_list li:first-child {border-top:0;}
.home.content .score_board_wrap .play_list li > div.team_player {position:absolute;top:0.7333rem;width:7.1333rem;}
.home.content .score_board_wrap .play_list li > div.team_player.left {left:0;}
.home.content .score_board_wrap .play_list li > div.team_player.right {right:0;}
.home.content .score_board_wrap .play_list li > div.team_player > i {display:block;margin:0 auto;width:3.6333rem;height:3.2333rem;}
.home.content .score_board_wrap .play_list li > div.team_player > span {display:block;height:1.9667rem;line-height:1.9667rem;font-size:1.3333rem;font-weight:500;color:#000000;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.home.content .score_board_wrap .play_list li > div.middle_box {z-index:1;position:relative;margin:0 auto;width:14rem;}
.home.content .score_board_wrap .play_list li > div.middle_box .play_score {padding-top:0.2667rem;overflow:hidden;}
.home.content .score_board_wrap .play_list li > div.middle_box .play_score em {display:block;float:left;width:3.1333rem;height:3.1rem;font-family:'bebas_neueregular';font-weight:bold;font-size:3.3333rem;line-height:3.6667rem;font-style:normal;color:#000000;}
.home.content .score_board_wrap .play_list li > div.middle_box .ic_vs_main {width:7.7333rem;height:3.1rem;}
.home.content .score_board_wrap .play_list li > div.middle_box .info_today {margin:0.7rem 0 0.7667rem;}
.home.content .score_board_wrap .play_list li > div.middle_box .info_round {height:1.6667rem;line-height:1.8667rem;font-size:1.2667rem;color:#2b2b2b;}
.home.content .score_scroll {margin-top:1.5333rem;}
.home.content .score_scroll .title_hd > span.vs {margin:0.2333rem 0.6667rem 0;width:1.6667rem;height:1.9667rem;font-size:1.3333rem;font-weight:bold;color:#ca0039;text-align:center;}
.home.content .none_score {padding:1.4667rem 0;height:4.8rem;font-size:1.2667rem;font-weight:500;color:#b4b4b4;text-align:center;background:#f2f3f5 url("../images/banner-score-empty.png") no-repeat 50% 50%;background-size:cover;border-radius:0.7667rem;}
.home.content .score_moment {margin:0.3333rem -1.5333rem 0;padding:0 1.5333rem;white-space:nowrap;overflow-x:auto;overflow-y:hidden;font-size:0;}
.home.content .score_moment li {display:inline-block;margin-left:0.7667rem;padding:1.1rem 0.4833rem;width:12.1rem;height:4.7333rem;border-radius:0.7333rem;background-color:#f2f3f5;overflow:hidden;font-size:0;}
.home.content .score_moment li:first-child {margin-left:0;}
.home.content .score_moment li span,.score_moment li em {display:inline-block;vertical-align:top;}
.home.content .score_moment li .logo_kbo {float:left;width:2.8667rem;height:100%}
.home.content .score_moment li .logo_kbo.left {margin-right:0.2333rem;}
.home.content .score_moment li .logo_kbo.right {margin-left:0.2333rem;}
.home.content .score_moment li .logo_kbo > span {margin:0.2667rem 0.1667rem;width:2.5333rem;height:2rem;}
.home.content .score_moment li > em {float:left;margin:0;width:1.6667rem;height:100%;line-height:2.5333rem;font-family:'bebas_neueregular';font-size:2.1rem;font-weight:bold;font-style:normal;color:#000000;}
.home.content .score_moment li > .i_colon {float:left;margin:0 0.6rem;width:0.4rem;height:100%;font-family:'bebas_neueregular';font-size:2.1rem;font-weight:bold;color:#000000;text-align:center;}

/* home mlb */
.home.content .mlb .score_today > div.team_img_wrap {padding-top:0.4rem;}
.home.content .mlb .score_today > div.team_img_wrap .team_img {padding:0;width:7.0333rem;height:6.2333rem;border:0;border-radius:0;}
.home.content .mlb .score_today > div.team_img_wrap .mlb_team_logo {display:block;width:100%;height:100%;}
.home.content .mlb .score_today > div.team_img_wrap .player_name {margin-top:0.8333rem;}

.home.content .sec_wrapper .bn_rel  {position:relative;display:block;width:100%;}
.home.content .sec_wrapper .bn_rel.bn700 {padding-bottom:70.850202%;}
.home.content .sec_wrapper .bn_rel.bn560 {padding-bottom:56.680161%;}
.home.content .sec_wrapper .bn_rel.bn300 {padding-bottom:30.364372%;}
.home.content .sec_wrapper .bn_rel.bn180 {padding-bottom:18.218623%;}
.home.content .sec_wrapper .bn_rel.bn156 {padding-bottom:15.789473%;}
.home.content .sec_wrapper .bn_rel.bn120 {padding-bottom:12.145748%;}
.home.content .sec_wrapper .bn_rel > img {position:absolute;top:0;left:0;}
.home.content .bn_game,
.home.content .bn_ranking {padding-top:1rem;}
.home.content .bn_game .bg_box {margin-top:1rem;padding-bottom:30.364372%;width:100%;height:0;background-image:url("../images/banner-img-game.png");background-repeat:no-repeat;background-position:50% 50%;background-size:cover;}
.home.content .bn_game .bg_box > span {display:block;padding-top:1.6667rem;padding-left:2rem;height:4.1334rem;font-size:1.6667rem;font-weight:bold;color:#ffffff;}
.home.content .bn_game .bg_box > p  {margin-top:0.4667rem;padding-left:2rem;font-size:1.2667rem;font-weight:500d;color:#ffffff;}
.home.content .bn_ranking {width:100%;min-height:16.8667rem /* box height + border-width */;background-image:url("../images/bg-rangking.png");background-repeat:no-repeat;background-size:cover;}
.home.content .bn_ranking .my_nick {margin:0.3333rem 0 0.3333rem 0.6667rem;height:1.8rem;font-size:1.2rem;font-weight:bold;color:#ca0039;}
.home.content .bn_ranking .bg_box {margin-top:0.2rem;padding:0 0 29.554655% 4.3333rem;width:100%;height:0;background-image:url("../images/banner-img-rangking.png");background-repeat:no-repeat;background-size:cover;overflow:hidden;}
.home.content .bn_ranking .bg_box .rank_num {float:left;margin-left:0.6667rem;padding-top:12.7%;width:7rem;text-align:center;}
.home.content .bn_ranking .bg_box .rank_num:first-child {margin-left:0;}
.home.content .bn_ranking .bg_box .rank_num span {display:block;height:1.9667rem;font-size:1.3333rem;font-weight:500;color:#ffffff;}
.home.content .bn_ranking .bg_box .rank_num em {display:block;height:2.8667rem;font-size:1.9333rem;font-weight:bold;font-style:normal;color:#ffffff;}
.home.content .bn_txt_wrap .bg_box {position:relative;padding-bottom:15.789473%;height:0;background-image:url("../images/banner-img-text.png");background-repeat:no-repeat;background-position:50% 50%;background-size:cover;} /* TXT bn */
.home.content .bn_txt_wrap .bg_box .bn_txt {display:block;position:absolute;top:50%;margin-top:-1.2333rem;padding-right:4.6rem;padding-left:1.6667rem;width:100%;height:2.4667rem;line-height:2.4667rem;font-size:1.6667rem;font-weight:bold;color:#ffffff;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;background:url("../images/ic-arrow-white.png") no-repeat 94.8% 50%;background-size:auto 1.4rem;}
.home.content .bn_txt_wrap.bn_event .bg_box {padding-bottom:18.218623%;background-image:url("../images/banner-img-event.png");} /* Event bn */
.home.content .highlight_wrap {margin:1rem -1.417004% 0;overflow:hidden;}
.home.content .highlight_box {float:left;margin:2rem 1.377952% 0;width:47.244094%;}
.home.content .highlight_box:nth-child(1),
.home.content .highlight_box:nth-child(2) {margin-top:0;}
.home.content .highlight_box .thumb {position:relative;padding-bottom:56.25%;height:0;background-repeat:no-repeat;background-size:100% auto;border-radius:0.7333rem;overflow:hidden;}
.home.content .highlight_box .thumb .play_time {position:absolute;bottom:0.8333rem;right:0.8333rem;padding:0 0.6rem;height:1.8333rem;font-size:1.2333rem;font-style:normal;color:#ffffff;text-align:center;background-color:rgba(0,0,0,.65);border-radius:0.3333rem;}
.home.content .highlight_box p {margin-top:0.3333rem;padding:0 3.125%;height:3.9333rem;line-height:1.966665rem;font-size:1.3333rem;color:#000000;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;}
.home.content .highlight_box .view {position:relative;display:block;margin-top:0.4333rem;padding-left:2rem;height:1.8rem;font-size:1.2rem;color:#858585;}
.home.content .highlight_box .view .ico_play {position:absolute;top:0.2333rem;left:0.3333rem;display:block;width:1.3333rem;height:1.3333rem;background:url("../images/ic-play-gray.png") no-repeat 50% 50%;background-size:cover;}
.home.content .news_wrap .news_main {position:relative;padding-bottom:56.680161%;height:0;background-repeat:no-repeat;background-size:100% auto;background-color:#d8d8d8;border-radius:0.7333em;}
.home.content .news_wrap .news_main .txt_inner {position:absolute;left:0;bottom:0;padding:0 1.6667em 1.6667rem;}
.home.content .news_wrap .news_main .agency {height:1.8rem;font-size:1.2rem;font-weight:500;color:#ffffff;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.home.content .news_wrap .news_main p {font-size:1.5333em;font-weight:bold;color:#ffffff;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;}
.home.content .news_wrap .news_list {margin-top:2.0333em;}
.home.content .news_wrap .news_list li {padding:1rem 0.5rem 1rem 0;border-top:1px solid #dee1e6;overflow:hidden;}
.home.content .news_wrap .news_list li:first-child {padding-top:0;border-top:0;}
.home.content .news_wrap .news_list li:last-child {padding-bottom:0;}
.home.content .news_wrap .news_list .thumb {float:left;padding-bottom:20.850202%;width:29.757085%;height:0;background-repeat:no-repeat;background-size:100% auto;background-color:#d8d8d8;border-radius:0.7333rem}
.home.content .news_wrap .news_list .desc {float:left;margin-left:3.846153%;padding-top:0.5rem;width:66.396761%;}
.home.content .news_wrap .news_list .desc .agency {height:1.8rem;font-size:1.2rem;color:#858585;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.home.content .news_wrap .news_list .desc .subject {margin-top:0.1rem;height:2.1667rem;line-height:2.1667rem;font-size:1.4667rem;font-weight:bold;color:#000000;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.home.content .news_wrap .news_list .desc .content {height:1.8rem;line-height:1.8rem;font-size:1.2rem;color:#000000;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.home.content .news_comments .news_scroll {margin-top:1rem;}
.home.content .news_comments .news_scroll ul {white-space:nowrap;overflow-x:auto;overflow-y:hidden;font-size:0;}
.home.content .news_comments .news_scroll li {position:relative;display:inline-block;margin-left:0.7667rem;padding:0 0.8333rem;width:15.2rem;height:15.2rem;border-radius:0.7333rem;box-shadow: 0 15px 51px 0 rgba(0, 0, 0, 0.09);background-repeat:no-repeat;background-size:100% auto;border-radius:0.7333rem;}
.home.content .news_comments .news_scroll li:first-child {margin-left:0;}
.home.content .news_comments .news_scroll li:after {content:'';position:absolute;display:block;width:100%;height:100%;top:0;left:0;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.57) 55%, rgba(0, 0, 0, 0.91));overflow:hidden;border-radius:0.7333rem;}
.home.content .news_comments .news_scroll li .ico_comm {z-index:1;position:relative;display:block;margin:3.2rem auto 0.5rem;width:8.4667rem;height:3.0667rem;background:#fff;}
.home.content .news_comments .news_scroll li .subject {z-index:1;position:absolute;left:5.482456%;bottom:5.482456%;width:89.035087%;font-size:1.5333rem;font-weight:500;text-align:center;color:#ffffff;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;white-space:normal;}

/* Home Details */
.home.content .img_player_wrap {padding:0;}
.home.content .img_player_default {position:relative;padding-bottom:56.388888%;height:0;background-color:#d8d8d8;background-repeat:no-repeat;background-size:100% auto;transition:padding .3s ease-in-out;-webkit-transition:padding .3s ease-in-out;}
.home.content .img_player_default.active {padding-bottom:0;}
.home.content .img_player_default .ico_play {display:block;position:absolute;top:50%;left:50%;margin-top:-4.15rem;margin-left:-4.15rem;width:8.3rem;height:8.3rem;background-image:url("../images/ic-player-play.png");background-repeat:no-repeat;background-position:50% 50%;background-size:cover;}
.home.content .btn_player_view {z-index:1;position:relative;display:block;width:100%;padding:0.7667rem 0;font-size:0;text-align:center;}
.home.content .btn_player_view > span {display:inline-block;width:7rem;height:1.8rem;font-size:1.2rem;font-weight:500;text-align:right;color:#7a7a7a;vertical-align:top;}
.home.content .btn_player_view > i {display:inline-block;margin-top:0.2333rem;margin-left:0.3333rem;width:1.3333rem;height:1.3333rem;background:url("../images/ic-arrow-up-g.png") no-repeat 50% 50%;background-size:cover;vertical-align:top;transform:rotate(0deg);}
.home.content .btn_player_view.active > i {transform:rotate(180deg);}

.home.content .highlight_detail .highlight_box .thumb .overlay {z-index:1;display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(36,9,16,.6);background-image:url("../images/ic-play-foc-b.png");background-repeat:no-repeat;background-position:50% 50%;background-size:3rem;border-radius:0.7333rem;}
.home.content .highlight_detail .highlight_box > b {display:block;margin-top:0.6667rem;padding:0 3.125%;height:1.9667rem;font-size:1.3333rem;font-weight:bold;color:#000000;}
.home.content .highlight_detail .video_info {position:relative;margin-top:0.4333rem;height:1.8rem;}
.home.content .highlight_detail .video_info .view {margin-top:0;}
.home.content .highlight_detail .video_info .ico_share {display:block;position:absolute;top:0;right:0.6667rem;width:1.8rem;height:1.8rem;background:url("../images/ic-share-nor.png") no-repeat 50% 50%;background-size:cover;}
.home.content .highlight_detail.sp_vod .video_info .ico_share {right:auto;left:0.5rem;}

.home.content .news_heo {margin:0 -1.417004%;overflow:hidden;}
.home.content .news_heo .news_box {position:relative;float:left;margin:2rem 1.377952% 0;padding-bottom:47.244094%;width:47.244094%;background-repeat:no-repeat;background-size:100% auto;border-radius:0.7333rem;}
.home.content .news_heo .news_box:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.57) 55%, rgba(0, 0, 0, 0.91));overflow:hidden;border-radius:0.7333rem;}
.home.content .news_heo .news_box:first-child {margin-top:1.5333rem;}
.home.content .news_heo .news_box:nth-child(2) {margin-top:1.5333rem;}
.home.content .news_heo .news_box .subject {z-index:2;display:block;position:absolute;bottom:6.25%;left:6.25%;width:87.5%;height:auto;font-size:1.5333rem;font-weight:bold;color:#ffffff;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;}

/* TEAM - days */
.team.content .main_info {position:relative;margin-top:4.6333rem;padding-bottom:78.518518%;width:100%;height:0;background-repeat:no-repeat;background-position:0 1.1333rem;background-size:100% auto;}
.team.content .main_info.info_visual01 {background-image:url('../images/img-team-info-01.png');}
.team.content .main_info.info_visual02 {background-image:url('../images/img-team-info-02.png');}
.team.content .main_info.info_visual03 {background-image:url('../images/img-team-info-03.png');}
.team.content .main_info .i_team {overflow:hidden;}
.team.content .main_info .i_team .team_logo {display:block;float:left;width:4.1rem;height:3.6333rem;}
.team.content .main_info .i_team .ranking {display:block;float:left;margin-left:0.8333rem;height:3.6333rem;line-height:3.6333rem;font-size:1.6667rem;font-weight:bold;color:#000000;}
.team.content .main_info .i_team .name {display:block;position:relative;float:left;margin-left:0.7667rem;padding-left:0.9rem;height:3.6333rem;line-height:3.6333rem;font-size:1.6667rem;font-weight:bold;font-style:normal;color:#000000;}
.team.content .main_info .i_team .name i {display:inline-block;position:absolute;top:1.2333rem;left:0;width:0.1333rem;height:1.2667rem;opacity:0.4;background-color:#c2c3c7;}
.team.content .main_info .slogan {margin-top:2.6333rem;padding-right:0.8rem;text-align:right;}
.team.content .main_info .slogan strong {height:2.4rem;text-shadow:0 0 0.5rem rgba(0, 0, 0, 0.24);font-family:'bebas_neueregular';font-size:2rem;font-weight:normal;font-style:normal;line-height:normal;letter-spacing:0.0833rem;color:#ffffff;}
.team.content .main_info .slogan p {height:1.9667rem;text-shadow:0 0 0.5rem rgba(0, 0, 0, 0.24);font-size:1.3333rem;font-weight:500;letter-spacing:-0.0333rem;color:#ffffff;}
.team.content .total_rank_info {position:absolute;bottom:0;right:1.5333rem;width:100%;text-align:right;}
.team.content .total_rank_info .rank_num {padding-right:0.4rem;height:2.2667rem;font-size:0;text-align:right;}
.team.content .total_rank_info .rank_num > div {display:inline-block;margin-left:0.8rem;vertical-align:top;font-size:0;}
.team.content .total_rank_info .rank_num > div span {display:inline-block;height:1.6667rem;line-height:2.2667rem;font-size:1.1333rem;font-weight:bold;vertical-align:top;}
.team.content .total_rank_info .rank_num > div b {display:inline-block;margin-left:0.3667rem;height:100%;line-height:2.2667rem;font-size:1.5333rem;font-weight:bold;font-style:normal;color:#000000;vertical-align:top;}
.team.content .total_rank_info .rank_num > div.i_win {margin-left:0;}
.team.content .total_rank_info .rank_num > div.i_win span {color:#3563c0;}
.team.content .total_rank_info .rank_num > div.i_draw span {color:#999999;}
.team.content .total_rank_info .rank_num > div.i_lose span {color:#ec5f59;}
.team.content .total_rank_info .i_rate {display:inline-block;margin-top:0.6333rem;;padding:0 0.8rem;height:1.6667rem;line-height:1.6667rem;font-size:0.9333rem;color:#000000;border-radius:0.8333rem;background-color:#f0f0f0;vertical-align:top;}
.team.content .total_rank_info .i_rate b {font-size:1.0667rem;font-weight:bold;font-family:normal;color:#000000;}
.team.content .rank_date {position:relative;margin-top:0.4333rem;padding:0.9rem 5.161943% 0;height:12.8333rem;border-radius:0.7333rem;box-shadow:0 0.5rem 1.7rem 0 rgba(0, 0, 0, 0.09);background-color:#ffffff;}
.team.content .rank_date .horizon_line {display:block;position:absolute;top:30.64935%;left:5.161943%;width:89.676113%;height:1px;background-color:#dee1e6;}
.team.content .rank_date ul li {float:left;margin-left:1.015801%;width:19.187358%;text-align:center;}
.team.content .rank_date ul li:first-child {margin-left:0;}
.team.content .i_date {display:block;height:1.9667rem;font-size:0;}
.team.content .i_date span {display:inline-block;vertical-align:top;}
.team.content .i_date span.date {font-size:1.3333rem;font-weight:bold;letter-spacing:-0.0667rem;color:#000000;}
.team.content .i_date span.day {margin-left:0.2rem;margin-top:0.2rem;height:1.2rem;font-size:0.8rem;font-weight:bold;color:#000000;}
.team.content .i_date span.sat {color:#3563c0;}
.team.content .i_date span.sun {color:#ec5f59;}
.team.content .rank_date ul li .team_logo {display:block;margin:1.7333rem auto 0;width:4.0667rem;height:3.6rem;}
.team.content .rank_date ul li .rank_info {display:block;margin:0.6rem auto 0;height:1.9667rem;font-size:1.3333rem;font-weight:bold;text-align:center;}
.team.content .rank_date ul li .rank_info.i_draw {color:#000000;}
.team.content .rank_date ul li .rank_info.i_win {color:#3563c0;}
.team.content .rank_date ul li .rank_info.i_lose {color:#ec5f59;}
.team.content .game_schedule {margin-top:0.6667rem;overflow:hidden;}
.team.content .game_schedule > div {position:relative;float:left;margin-left:2.024291%;padding-top:2.0667rem;width:23.481781%;text-align:center;}
.team.content .game_schedule > div:first-child {margin-left:0;}
.team.content .game_schedule > div .info_tm {position:absolute;display:block;top:0;left:50%;margin:0 auto 0 -1.56665rem;width:3.1333rem;height:1.6rem;line-height:1.6rem;font-size:0.9333rem;font-weight:bold;color:#ffffff;text-align:center;background-image:linear-gradient(to bottom, #c30137, #73052c 126%);border-radius:0.8rem;}
.team.content .game_schedule > div .schedule_box {padding-bottom:161.206896%;height:0;background:red;border-radius:0.7333rem;overflow:hidden;}
.team.content .game_schedule > div .schedule_box .i_date {padding-top:6.951871%;}
.team.content .game_schedule > div .schedule_box .i_date > span {color:#ffffff;}
.team.content .team_highlight_wrap {margin-top:1rem;}
.team.content .team_highlight {margin-top:2rem;}
.team.content .team_highlight:first-child {margin-top:0;}
.team.content .team_highlight .thumb {position:relative;padding-bottom:56.275303%;height:0;border-radius:0.7333rem;background-repeat:no-repeat;background-size:100% auto;}
.team.content .team_highlight .thumb .play_time {position:absolute;bottom:0.8333rem;right:0.8333rem;padding:0 0.6rem;height:1.8333rem;font-size:1.2333rem;font-style:normal;color:#ffffff;text-align:center;background-color:rgba(0,0,0,.65);border-radius:0.3333rem;}
.team.content .team_highlight p {margin-top:0.4667rem;height:2.3667rem;font-size:1.6rem;font-weight:bold;color:#000000;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.team.content .team_news_wrap {margin-top:1rem;}
.team.content .team_news {margin-top:1.5333rem;}
.team.content .team_news:first-child {margin-top:0;}
.team.content .team_news .thumb {position:relative;padding-bottom:56.680161%;height:0;border-radius:0.7333rem 0.7333rem 0 0;background-repeat:no-repeat;background-size:100% auto;}
.team.content .team_news .thumb:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.57) 55%, rgba(0, 0, 0, 0.91));}
.team.content .team_news .thumb .subject {z-index:2;position:absolute;bottom:8.928571%;left:5.060728%;width:89.878542%;font-size:1.5333rem;font-weight:bold;color:#ffffff;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;}
.team.content .team_news .desc {padding:0.8333rem 5.060728% 1.1667rem;height:5.7333rem;border-radius:0 0 0.7333rem 0.7333rem;box-shadow:0 0.5rem 1.7rem 0 rgba(0, 0, 0, 0.09);background-color:#ffffff;}
.team.content .team_news .desc p {height:3.7333rem;font-size:1.2667rem;font-weight:normal;color:#000000;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;}

/* TEAM - my team */
.team.content .rate_wrapper {padding-bottom:3.3333rem;border-bottom:0.9333rem solid #f0f1f6;}
.team.content .sec_rate {margin-top:2.2rem;}
.team.content .sec_rate .title_rate {height:2.4667rem;font-size:1.6667rem;font-weight:bold;color:#000000;}
.team.content .sec_rate ol {margin-top:2.5rem;}
.team.content .sec_rate li {position:relative;margin-top:0.6rem;}
.team.content .sec_rate li:first-child {margin-top:0;}
.team.content .sec_rate .player_img {position:absolute;left:0;top:0;width:4.3333rem;height:4.3333rem;border-radius:1.3667rem;border:solid 1px #e8e8e8;background-repeat:no-repeat;background-size:100% auto;}
.team.content .sec_rate .player_img .team_logo_xs {display:block;position:absolute;bottom:0;right:-0.4rem;width:1.6667rem;height:1.6667rem;border-radius:50%;}
.team.content .sec_rate .player_img .team_logo_xs > span {display:block;margin:0.3rem auto 0.2667rem;width:1.1rem;height:1.1rem;background-repeat:no-repeat;}
.team.content .sec_rate .desc {margin-left:5.6rem;padding-left:0.1333rem;height:5rem;font-size:0;border-bottom:0.0667rem solid #dee1e6;}
.team.content .sec_rate .desc > span {display:inline-block;line-height:4.3333rem;vertical-align:top;}
.team.content .sec_rate .desc > strong {float:right;display:inline-block;line-height:4.3333rem;vertical-align:top;}
.team.content .sec_rate .desc .num {min-width:1.6667rem;font-family:'bebas_neueregular';font-size:1.8667rem;font-weight:bold;color:#000000;opacity:0.8;text-align:center;}
.team.content .sec_rate .desc .name {margin-left:0.5333rem;font-size:1.3333rem;font-weight:500;color:#000000;}
.team.content .sec_rate .desc .position {margin-left:0.6rem;font-size:1.0667rem;font-weight:normal;color:#525252;}
.team.content .sec_rate .desc .my {margin-top:1.5rem;margin-left:0.2667rem;width:1.3333rem;height:1.3333rem;line-height:1;font-family:Sriracha;font-size:0.7667rem;font-weight:normal;color:#ffffff;text-align:center;border-radius:50%;background-color:#c10a3a;}
.team.content .sec_rate .desc .rate_num {font-family:'bebas_neueregular';font-size:1.5333rem;font-weight:bold;text-align:right;color:#000000;}
.team.content .sec_team_position {padding:2.6667rem 0 1.6667rem;}
.team.content .sec_team_position .img_team_position {position:relative;margin-top:2.6667rem;width:100%;padding-bottom:59.537037%;height:0;background-repeat:no-repeat;background-size:100% auto;}
.team.content .sec_team_position .img_team_position.team_pitcher {background-image:url('../images/position_pitcher.png');}
.team.content .sec_team_position .img_team_position.team_catcher {background-image:url('../images/position_catcher.png');}
.team.content .sec_team_position .img_team_position.team_infielder {background-image:url('../images/position_infielder.png');}
.team.content .sec_team_position .img_team_position.team_outfielder {background-image:url('../images/position_outfielder.png');}
.team.content .sec_team_position .img_team_position .team_name {display:block;position:absolute;bottom:7.153965%;right:4.259259%;height:2.0333rem;font-size:1.6667rem;font-weight:bold;text-align:right;color:#b8b8c0;}
.team.content .sec_team_position .team_position_all ul {overflow:hidden;}
.team.content .sec_team_position .team_position_all li {float:left;margin-top:6.578947%;margin-left:5.263157%;width:21.052631%;}
.team.content .sec_team_position .team_position_all li:nth-child(4n+1) {margin-left:0;}
.team.content .sec_team_position .team_position_all li:first-child {margin-left:0;}
.team.content .sec_team_position .team_position_all li:nth-child(1),
.team.content .sec_team_position .team_position_all li:nth-child(2),
.team.content .sec_team_position .team_position_all li:nth-child(3),
.team.content .sec_team_position .team_position_all li:nth-child(4) {margin-top:0;}
.team.content .sec_team_position .team_position_all li .player_img {position:relative;margin:0 auto;width:5.7333rem;height:5.7333rem;border-radius:1.29rem;border:solid 1px #e8e8e8;background-repeat:no-repeat;background-size:100% auto;}
.team.content .sec_team_position .team_position_all li .player_img .team_logo_xs {display:block;position:absolute;bottom:0;right:-0.4667rem;width:2rem;height:2rem;border-radius:50%;}
.team.content .sec_team_position .team_position_all li .player_img .team_logo_xs > span {display:block;margin:0.3333rem auto;width:1.3333rem;height:1.3333rem;background-repeat:no-repeat;}
.team.content .sec_team_position .team_position_all li .i_name {margin-top:0.8333rem;height:1.8rem;text-align:center;font-size:0;}
.team.content .sec_team_position .team_position_all li .i_name > b {display:inline-block;line-height:1.8rem;font-size:1.2rem;font-weight:bold;color:#000000;vertical-align:top;}
.team.content .sec_team_position .team_position_all li .i_name > span {display:inline-block;margin-left:0.2rem;line-height:1.8rem;font-size:1rem;font-weight:normal;color:#2b2b2b;vertical-align:top;}
.team.content .sec_team_position .team_position_all li .i_position {margin-top:0.1333rem;height:1.5rem;text-align:center;font-size:0;}
.team.content .sec_team_position .team_position_all li .i_position > span {display:inline-block;line-height:1.5rem;font-size:1rem;font-weight:normal;color:#858585;vertical-align:top;}
.team.content .sec_team_position .team_position_all li .i_position > i {display:inline-block;margin:0.3rem 0.4rem 0.2rem;width:0.0667rem;height:1rem;vertical-align:top;background-color:#dee1e6;}

/* List none */
.list_none {margin:2.6667rem 0 4rem;}
.list_none .img_box {height:7.6667rem;background-image:url('../images/img-player-empty-b.png');background-repeat:no-repeat;background-size:auto 7.6667rem;background-position:50% 50%;}
.list_none > p {margin-top:1rem;font-size:1.2667rem;font-weight:500;text-align:center;color:#b4b4b4;}

/* Srh none */
.srh_none {position:static !important;}
.srh_none .abs_wrap {padding-top:5.667rem;}
.srh_none .desc .img_box {margin:0 auto;width:75.404858%;height:10rem;background-image:url('../images/img-player-empty-b.png');background-repeat:no-repeat;background-size:auto 10rem;background-position:50% 50%;}
.srh_none .desc > strong {display:block;margin-top:1.3333rem;height:2.2rem;font-size:1.5rem;font-weight:bold;text-align:center;color:#b4b4b4;}
.srh_none .desc > p {margin-top:0.6667rem;font-size:1.2rem;font-weight:normal;text-align:center;color:#b4b4b4;}

/* btn back + srh */
.srh_is_back {position:relative;margin-top:1.1667rem;}
.srh_is_back .btn_back {display:block;position:absolute;top:1rem;left:0;width:2rem;height:2rem;background:url("../images/ic-title-back.png") no-repeat 50% 50%;background-size:cover;}
.srh_is_back .input_box {margin:0;margin-left:2.6rem;width:auto;}



/* Vertical center align */
.abs_wrap {z-index:-1;position:absolute;left:0;top:0;width:100%;height:100%;box-sizing:border-box;}
.full_h {height:100%;}
.tb_box {display:inline-table;position:relative;margin:0 0 -7.9667rem;padding:0 0 7.9667rem;width:100%;height:100%;min-height:100%;box-sizing:border-box}
.tb_cell_box {display:table-cell;vertical-align:middle;}

/* Input Style */
.input_box {margin:0 auto;padding:0.8333rem 8.444444% 0.8rem 4.888888%;width:83.333333%;height:4rem;border-radius:2rem;background-color:#f7f8f9;}
.input_box .ic_srh {display:block;float:left;width:7.692307%;height:2.3667rem;background:url('../images/ic-search.png') no-repeat 50% 50%;background-size:auto 2rem;}
.input_box input {margin:0;padding:0;float:left;padding-left:3.846153%;width:92.307692%;height:2.3667rem;font-size:1.2667rem;color:#2b2b2b;;border:0;background-color:#f7f8f9;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent !important;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent !important;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent !important;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent !important;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */ color:#b4b4b4 !important;}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#b4b4b4 !important;}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#b4b4b4 !important;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */ color:#b4b4b4 !important;}

input[readonly]:focus {border:1px solid #f7f8f9 !important;cursor:default;}

/* tab_teamlist */
.tab_teamlist {margin-top:1.6667rem;background-color:#fff;overflow-x:auto;overflow-y:hidden;padding:0 2.6667rem;}
.tab_teamlist::-webkit-scrollbar {display:none;}
.tab_teamlist ul {overflow:visible;white-space:nowrap;display:inline-block;display:-webkit-inline-flex;display:inline-flex;flex-direction:row;}
.tab_teamlist li {position:relative;margin-left:0.6667rem;}
.tab_teamlist li:first-child {margin-left:0;}
.tab_teamlist .team-icon-box {position:relative;width:5.4667rem;height:6.8667rem;}
.tab_teamlist .logo {position:relative;padding:0.7333rem;width:4.8rem;height:4.8rem;}
.tab_teamlist .logo:before {content:'';position:absolute;left:0;top:0;width:100%;height:100%;border-radius:50%;border:solid 1px #e5e5e5;}
.tab_teamlist .logo .circle {z-index:2;position:absolute;top:0;left:0;width:4.8rem;height:4.8rem;}
.tab_teamlist .logo [class*="team_symbol_"]  {z-index:1;position:relative;display:block;width:3.3333rem;height:3.3333rem;}
.tab_teamlist .my_team {position:absolute;top:3.2333rem;right:0;z-index:2;width:2rem;height:2rem;background:url("../images/icon_my.png") center center no-repeat;background-size:2rem;border-radius:100%;border:1px solid #fff;}
.tab_teamlist .name {display:block;margin-top:0.4rem;height:1.6667rem;font-size:1.1333rem;text-align:center;}
.tab_teamlist li.active .name {font-weight:bold;}

/* tab_1depth */
.tab_1depth {margin-top:1.6667rem;position:relative;}
.tab_1depth ul {display:flex;padding:1rem 10% 0;background:#fff;border-bottom:1px solid #e9e9e9;}
.tab_1depth .tab_item {width:33%;font-size:16px;text-align:center;}
.tab_1depth .tab_item span {display:inline-block;padding:0 15px 12px;text-decoration:none;color:#b4b4b4;font-weight:400;transition:color .3s;animation-timing-function:cubic-bezier(0.1,0.8,0.4,1);}
.tab_1depth .tab_item.active span {color:#c10a3a;font-weight:700;position:relative;}
.tab_1depth .active_bar {position:absolute;bottom:0;width:6rem;height:0.2rem;transition:width .3s,left .3s;animation-timing-function:cubic-bezier(0.1,0.8,0.4,1);}

/* tab_2depth */
.tab_2depth {margin-top:2.5rem;position:relative;text-align:center;font-size:0;}
.tab_2depth .tab_inner {position:relative;display:inline-block;height:3rem;}
.tab_2depth ul:before {content:'';position:absolute;top:0;left:0;bottom:0;right:0;border-radius:1.5rem;border:1px solid #d9d9d9;}
.tab_2depth ul:after {clear:both;content:'';display:block;}
.tab_2depth .tab_item {position:relative;z-index:1;float:left;font-size:1.2rem;font-weight:500;min-width:8.3333rem;height:3rem;padding:0.6rem 0.8333rem;color:#858585;}
.tab_2depth .tab_item.active {font-weight:700;}
.tab_2depth .active_fill {position:absolute;border-width:1px;border-style:solid;bottom:0;left:0;width:8.3333rem;height:3rem;transition:width .3s,left .3s;animation-timing-function:cubic-bezier(0.1,0.8,0.4,1);border-radius:1.5rem;z-index:2;}

/* tab_3depth */
.tab_3depth {margin-top:2.3333rem;position:relative;text-align:center;font-size:0;}
.tab_3depth ul {display:flex;padding:0 1.5rem;background:#f7f8f9;border-top:1px solid #efeff0;border-bottom:0;justify-content:space-around;}
.tab_3depth .tab_item {flex-grow:1;width:auto;padding:1.4rem 0;color:#cfd2d9;font-size:1.4rem;font-weight:400;text-align:center;transition:color ease-out .3s;}
.tab_3depth .tab_item.active {font-weight:700;}

/* footer */
#footer {position:fixed;bottom:0;left:0;z-index:1;width:100vw;}
.tab_container {position:relative;width:100vw;height:5.6rem;transform: translate(0, 7rem) translateZ(0px);transition:transform ease-out .5s;transition-timing-function:cubic-bezier(0, 0, 0, 0.89);}
#footer.on .tab_container {transform: translate(0, 0) translateZ(0px);}
.tab_bar {display:flex;position:relative;z-index:2;width:100%;margin:0;height:5.6rem;filter:drop-shadow(0 0 0.2rem #ccc);overflow:hidden;padding:0 1.5rem;}
.tab_bar .left_side {flex-grow:0;-webkit-box-flex:0;background-color:#fff;transition:all ease-out .5s;transition-timing-function:cubic-bezier(0, 0, 0, 0.89);transform:translate(-1.5rem, 0);}
.tab_bar .middle {flex-grow:1;-webkit-box-flex:1;position:relative;}
.tab_bar .middle .center_middle {position:absolute;left:50%;width:calc(100% + 4rem);height:5.6rem;background:url("../images/gnb/tabbar_middle_2.png") center bottom no-repeat;background-size:auto 5.6rem;transform:translate(-50%, 0);}
.tab_bar .right_side {flex-grow:1;-webkit-box-flex:1;background-color:#fff;transition:all ease-out .7s;transition-timing-function:cubic-bezier(0, 0, 0, 0.89);transform:translate(1.5rem, 0);}
.active_tab_container {display:flex;position:absolute;top:0;left:1.5rem;right:1.5rem;z-index:3;}
.tab_button {display:flex;position:absolute;top:0;left:1.5rem;right:1.5rem;z-index:3;}
.tab_button .tab,
.active_tab_container .tab {flex-grow:1;width:20%;height:5.6rem;padding-top:4rem;font-size:1.2rem;text-align:center;line-height:1rem;opacity:1;-webkit-tap-highlight-color:transparent;transition:opacity ease-out 0.24s, transform ease-out 0.24s;transform:scale(1) translateY(0);transition-timing-function:cubic-bezier(0, 0, 0, 0.79);}
.tab_button .tab.active,
.active_tab_container .tab.active {background:none !important;color:#C10A3A;font-weight:700;}
.tab_button .tab.hide,
.active_tab_container .tab.hide {opacity:0;transform:scale(0.4) translateY(30px);}
.active_tab_container {z-index:1;filter:drop-shadow(0 0 0.3rem #bbb);}
.active_tab_container .tab {display:flex;position:relative;top:3.4rem;justify-content:center;padding:0;background:none !important;transition:transform .2s, top .2s, left .2s, right .2s, opacity .2s;transition-timing-function:cubic-bezier(0, 0, 0, 0.79);}
.active_tab_container .tab.active {transform: translate(0, -5.7rem) translateZ(0px);flex-grow:0;}
.active_tab_container .tab.active .circle {opacity:1;}
.active_tab_container .tab .circle {width:4.7333rem;height:4.7333rem;border-radius:50%;background:none;background-color:#fff;line-height:4.7333rem;}
.active_tab_container .tab .circle .img_box {padding:0.6667rem;}
.active_label_container {display:flex;position:absolute;bottom:0;left:1.5rem;right:1.5rem;z-index:3;}
.active_label_container .label {flex-grow:1;width:20%;height:1.6rem;font-size:1.2rem;font-weight:bold;color:#C10A3A;text-align:center;line-height:1rem;opacity:0;transition:opacity ease-out .5s;transition-timing-function:cubic-bezier(0, 0, 0, 0.79);}
.active_label_container .label.active {flex-grow:0;opacity:1;}


/*******************************************************************************************/
